@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300&display=swap");
/*mixins*/
* {
  font-family: "Roboto Flex", Sans-Serif; }

html {
  font-size: 62.5%; }

@keyframes textopacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.botonera {
  background-color: white; }
  .botonera img {
    width: 200px;
    animation-name: textopacity;
    animation-duration: 2s; }
    @media (min-width: 260px) and (max-width: 320px) {
      .botonera img {
        width: 125px; } }
  .botonera ul li {
    margin: 0px 10px;
    animation-name: textopacity;
    animation-duration: 4s; }
  .botonera a {
    font-size: 2.2rem;
    text-decoration: none;
    color: #45BF9D;
    font-family: "Roboto Flex", Sans-Serif;
    font-weight: 100; }
    .botonera a:hover {
      color: #0E0F13;
      text-decoration: underline; }

body {
  background-color: #eaeaea;
  overflow-x: hidden; }

header img {
  width: 100%; }

footer {
  background-color: #04BFAD;
  padding: 10px;
  margin: 10px; }

h1, h2, h3 {
  font-family: "Roboto Flex", Sans-Serif;
  color: #2D2A2A;
  line-height: 3rem; }

h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  margin: 50px;
  padding: 15px; }

h2 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center; }

h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center; }

h5 {
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  margin: 50px;
  padding: 15px; }

p {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  font-family: "Roboto Flex", Sans-Serif;
  color: #2D2A2A;
  font-weight: 300; }

.font-index-p {
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center; }

.font-button {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center; }

.font-formulario {
  font-size: 1.5rem; }

/*Selectores de Clase*/
.text-center, .catalogo {
  text-align: center; }

.margin-estandar {
  margin: 10px;
  padding: 10px; }

.text-color {
  color: #45BF9D; }

.bg-green {
  background-color: #04BFAD; }

.border-solid {
  border: solid; }

.justify-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row; }

.justify-content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.container, .catalogo {
  display: flex; }

.catalogo {
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px; }

.img-fit img {
  height: 100%;
  object-fit: cover; }
