@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300&display=swap');

//vars fonts

$mainFont: "Roboto Flex", Sans-Serif ;


//sizes

$textxxs: 1.5rem;
$textxs: 2rem;
$texts: 2.5rem;
$textm: 3rem;
$textl: 4rem;






