/*Mobile First*/

/*Grid layout*/

.contenedor{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"nav" 
	"header"
	"filtros"
	"main"
	"footer"  ;
}

/*Nombre a las areas del layout*/

#mainNav{
	grid-area: nav;
}

#header{
	grid-area: header;
}

#filtros{
	grid-area: filtros;
	flex-direction: row;
	justify-content: space-evenly;
}

#main{
	grid-area: main;
}

#footer{
	grid-area: footer;


}



/*-------------------------media queries------------------*/


/* min-width: 768px definimos 2cols con vw y 4 rows */
@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 20vw 80vw;
		grid-template-rows: repeat(4, auto);
		grid-template-areas: 
		"nav nav" 
		"header header" 
		"filtros main"  
		"footer footer";
	}


	#filtros{
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

	.secondNav{
		flex-direction: column;
		align-items: center;
	}

}

/* min-width: 1024px defino 2cols con vw y 4 rows */
@media (min-width: 1024px){
	
	
	/*width de los productos*/
		
	#main .catalogo.figure.img{
		width: 400px;
	}

}

/* min-width: 1200px cambio la botonera*/
@media (min-width: 1200px){

	.botonera{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

	}

	#main .catalogo.figure.img{
		width: 600px;
	}
}


// @media (min-width: 260px) and (max-width: 320px){
// 	img[src= "../imagenes/LBV.PNG"]{
// 		width: 125px;
// 	}
// }