*{  font-family: $mainFont;

}

html{
	font-size: 62.5%;
}

@keyframes textopacity{
from{opacity: 0;}
to{opacity: 1;}

}

//botonera nesting

.botonera{
	background-color: map-get($map:$paleta,$key:'blanco');

	img{
		width: 200px;
		animation-name: textopacity;
		animation-duration: 2s;
		@media (min-width: 260px) and (max-width: 320px){
			width: 125px;
			}
		}

		ul li{
			margin: 0px 10px;
			animation-name: textopacity;
			animation-duration: 4s;
		}

				a{
				font-size: 2.2rem;
				text-decoration: none;
				// color:$mainColor ;
				color: map-get($map:$paleta,$key:'verdeLBV');
				font-family:$mainFont ;
				font-weight: 100;
				&:hover{
					// color: black;
					color: map-get($map:$paleta,$key:'negro');
					text-decoration: underline;
				}
		}

}


