<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Light Blue Vault Consulting</title>
	<link rel="shortcut icon" href="imagenes/favicon.PNG">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav>
		<a href="../index.html">
			<img src="../imagenes/LBV.PNG" alt="logo de LBV" class="logo">
		</a>

		<ul>
			<li><a href="servicios.html">Servicios</a></li>
			<li><a href="industrias.html">Industrias</a></li>
			<li><a href="nosotros.html">Nosotros</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<header>
		<img src="../imagenes/Industrias.jpg" alt="Imagen Principal">
		<h1>Nosotros</h1>	
	</header>
	<main>
		<section>
			<h2>Cultura</h2>
			<p class="text-grey text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam animi aliquid, placeat optio dignissimos molestiae, iste ipsam harum fuga reiciendis sapiente vel quidem voluptatibus. Nihil, mollitia. Culpa, magni aspernatur. Molestiae!</p><br>
		</section>
		<section>
			<h2>Historia</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam animi aliquid, placeat optio dignissimos molestiae, iste ipsam harum fuga reiciendis sapiente vel quidem voluptatibus. Nihil, mollitia. Culpa, magni aspernatur. Molestiae!</p><br>
		</section>	
	</main>
	<footer>
		<h3 class="pie">Seguinos en nuestras redes sociales</h3>
		<div class="pie">
		<a href="https://www.instagram.com/" target= "_blank">
			<img src="../imagenes/instagram.jpg" alt="Link a Instagram">
		</a>
		<a href="https://www.linkedin.com/" target= "_blank">
			<img src="../imagenes/Linkedin.png" alt="Link a linkedin">
		</a>
		</div>


	</footer>
</body>
</html>